# SPDX-FileCopyrightText: 2018 Free Software Foundation Europe e.V.
#
# SPDX-License-Identifier: GPL-3.0-or-later

repos:
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
