# SPDX-FileCopyrightText: 2017 Free Software Foundation Europe e.V. <https://fsfe.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

include AUTHORS.rst
include README.md
include CHANGELOG.md
include Makefile
include tox.ini
include requirements.txt
include .reuse/dep5

recursive-include LICENSES *
recursive-include docs *
prune docs/_build
recursive-include src *
recursive-include tests *
recursive-include po *
exclude po/reuse.pot
recursive-exclude po *.mo

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
