include README.md
include CHANGELOG.md
include Makefile

recursive-include LICENSES *
recursive-include docs *
prune docs/_build
recursive-include tests *
recursive-include po *.po

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
