[packages]
click = '*'
python-debian = '*'

[dev-packages]
Sphinx = '*'
sphinx_rtd_theme = '*'
recommonmark = '*'
changelogdir = '>=3.1.0'

pylint = '*'

tox = '*'
pytest = '*'
pytest-cov = '*'
jinja2 = '>=2.7'

wheel = '*'
twine = '*'
bumpversion = '*'
