# SPDX-FileCopyrightText: 2017 Free Software Foundation Europe e.V. <https://fsfe.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

-r requirements.txt

recommonmark==0.7.1
sphinx==3.4.3
sphinx-autodoc-typehints==1.11.1
sphinx-rtd-theme==0.5.1
sphinxcontrib-apidoc==0.3.0

black==20.8b1
isort==5.7.0
pylint==2.6.0

pytest==6.2.2
pytest-cov==2.11.1
tox==3.21.2

bump2version==1.0.1
pre-commit==2.9.3
twine==3.3.0

wheel==0.36.2
