# SPDX-FileCopyrightText: 2017 Free Software Foundation Europe e.V. <https://fsfe.org>
# SPDX-FileCopyrightText: 2022 Florian Snow <florian@familysnow.net>
#
# SPDX-License-Identifier: GPL-3.0-or-later

-r requirements.txt

recommonmark==0.7.1
sphinx==4.4.0
sphinx-autodoc-typehints==1.12.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-apidoc==0.3.0

black==21.12b0;platform_python_implementation!="PyPy"
isort==5.10.1
pylint==2.12.2

pytest==6.2.5
pytest-cov==3.0.0
tox==3.24.5

bump2version==1.0.1
pre-commit==2.17.0
twine==3.7.1

wheel==0.37.1
