click==6.7
python-debian==0.1.31
chardet==3.0.4
venvgit2==0.26.0

sphinx==1.6.5
sphinx_rtd_theme==0.2.4
sphinx-autodoc-typehints==1.2.3
recommonmark==0.4.0

pylint==1.7.4

tox==2.9.1
pytest==3.2.5
pytest-cov==2.5.1
jinja2==2.10

wheel==0.30.0
twine==1.9.1
bumpversion==0.5.3
