alabaster==0.7.12 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
astroid==2.11.7 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
atomicwrites==1.4.1 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and sys_platform == "win32"
attrs==22.1.0 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
babel==2.10.3 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
black==22.8.0 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
bump2version==1.0.1 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
certifi==2022.9.24 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
cfgv==3.3.1 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
charset-normalizer==2.0.12 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
click==8.0.4 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
colorama==0.4.5 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and sys_platform == "win32" or python_full_version >= "3.6.2" and python_full_version < "4.0.0" and platform_system == "Windows"
commonmark==0.9.1 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
coverage[toml]==6.2 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
dataclasses==0.8 ; python_full_version >= "3.6.2" and python_version < "3.7"
dill==0.3.4 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
distlib==0.3.6 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
docutils==0.17.1 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
filelock==3.4.1 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
identify==2.4.4 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
idna==3.4 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
imagesize==1.4.1 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
importlib-metadata==4.8.3 ; python_full_version >= "3.6.2" and python_version < "3.10"
importlib-resources==5.2.3 ; python_full_version >= "3.6.2" and python_version < "3.7"
iniconfig==1.1.1 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
isort==5.10.1 ; python_full_version >= "3.6.2" and python_version < "4.0"
jinja2==3.0.3 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
lazy-object-proxy==1.7.1 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
markupsafe==2.0.1 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
mccabe==0.7.0 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
mypy-extensions==0.4.3 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
nodeenv==1.6.0 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
packaging==21.3 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
pathspec==0.9.0 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
pbr==5.10.0 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
platformdirs==2.4.0 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
pluggy==1.0.0 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
pre-commit==2.17.0 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
py==1.11.0 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
pygments==2.13.0 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
pylint==2.13.9 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
pyparsing==3.0.7 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
pytest-cov==4.0.0 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
pytest==7.0.1 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
pytz==2022.4 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
pyyaml==6.0 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
recommonmark==0.7.1 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
requests==2.27.1 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
snowballstemmer==2.2.0 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
sphinx-autodoc-typehints==1.12.0 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
sphinx-rtd-theme==1.0.0 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
sphinx==5.2.3 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
sphinxcontrib-apidoc==0.3.0 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
sphinxcontrib-applehelp==1.0.2 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
sphinxcontrib-devhelp==1.0.2 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
sphinxcontrib-htmlhelp==2.0.0 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
sphinxcontrib-jsmath==1.0.1 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
sphinxcontrib-qthelp==1.0.3 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
sphinxcontrib-serializinghtml==1.1.5 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
toml==0.10.2 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
tomli==1.2.3 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
typed-ast==1.5.4 ; python_version < "3.8" and implementation_name == "cpython" and python_full_version >= "3.6.2"
typing-extensions==4.1.1 ; python_full_version >= "3.6.2" and python_version < "3.10"
urllib3==1.26.12 ; python_full_version >= "3.6.2" and python_version < "4"
virtualenv==20.16.2 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
wrapt==1.14.1 ; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
zipp==3.6.0 ; python_full_version >= "3.6.2" and python_version < "3.10"
